{{#if this.shouldDisplay}}
  <div class="custom-search-banner-wrap">
    <div class="custom-search-banner-content">
      {{#if this.heroTitle}}
        <h1 class="custom-search-banner-headline">{{this.heroTitle}}</h1>
      {{/if}}
      {{#if this.heroSubtitle}}
        <p>{{this.heroSubtitle}}</p>
      {{/if}}
    </div>
  </div>

  {{#if this.isLoading}}
    <div class="loading-container">
      <div class="spinner"></div>
    </div>
  {{else if this.categories}}
    <div class="homepage-categories-wrapper">
      <div class="category-boxes">
        {{#each this.categories as |category|}}
          <div class="category-box">
            <div class="category-box-inner">
              <a href={{category.url}} class="category-details">
                <div class="category-icon">{{category.icon}}</div>
                <h3 class="category-title">
                  <span class="category-title-link">{{category.name}}</span>
                </h3>
                {{#if category.description}}
                  <p class="category-description">{{category.description}}</p>
                {{/if}}
              </a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/if}}
